@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    text-align: left;
}

.logo h1{
    font-family: "Lobster", sans-serif;
    color: #ff735c;
    font-size: 34px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #ff735c;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #e1e1e1;
    border-top: 4px solid #ff735c;
}

#botao{
    background-color: #ff735c;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background-color: #e1e1e1;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: white;
    padding-top: 100px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #ff735c;
    padding: 0;
    margin: 0;
}

.contact-btn{
    display: inline-block;
    background: #ff735c;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background: #e1e1e1;
}

.headline p {
    color: grey;
    text-align: left;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    padding: 5%;
    text-align: center;
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: #ff735c;
}

.servicos{ 
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff735c;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    background-color: #ff735c;
    color: white;
    padding: 40px; 
}

.texto-oculto{
    display: none;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,#ff735c,#d15d4b,black);
    text-align: center;
    border-top: 5px solid #e1e1e1;
}

.logo-rodape{
    padding: 100px;
}

.agencia{
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 34px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
}